@import "~@/style/global.styl"
$searchHeight = 40px
$imageSize = 20px
$isFocusBorderRadius = 6px

.search{
  display inline-block
  width 400px
  height 40px
  color black
  background rgba(255, 255, 255, 0.9)
  border-radius 20px
  padding 0 10px
  position relative

  &__focus{
    border-top-left-radius $isFocusBorderRadius
    border-top-right-radius $isFocusBorderRadius
    border-bottom-right-radius 0
    border-bottom-left-radius 0
  }

  &__logo{
    display inline-block
    height 20px
    cursor pointer

    &__image{
      width $imageSize
      height $imageSize
      margin-top -2px
    }
  }

  &__input{
    width 330px
    height 40px
    margin-left 10px
    border 0
    color black
    font-weight bold
    background transparent
  }

  &__button{
    display inline-block
    font-size 19px
    cursor pointer
    color #999
  }

  &__sug{
    position absolute
    top 40px
    left 0
    padding 6px
    width 400px
    border-top 1px solid #ccc
    border-bottom-left-radius $isFocusBorderRadius
    border-bottom-right-radius $isFocusBorderRadius
    background rgba(255, 255, 255, 0.9)
  }
}
