@import "~@/style/global.styl"

.nav-wrapper{
  &__operate{
    text-align right
    color white
  }

  &__add{
    font-size 20px
    cursor pointer
  }

  &__navContent{
    padding-top 10px
    color white

    &__title{
      padding-left 30px
      font-size 20px
    }

    &__input{
      width 200px
      margin-bottom 10px
      display block
    }

    &__button{
      //width 200px
    }
  }

  &__select-render{
    padding 4px 10px
  }
}

